@charset "utf-8";
/* CSS Document */
html, body{
	height: 100%;
	width: 100%;
}
.left-nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 100%;
	border-radius: 0px;
	border: 0px;
    z-index: 1030;
}
.left-nav.open {
	width: 240px;
}
.left-nav > .container {
	padding: 0px;
	width: 100%;
}
.left-nav .navbar-header,
.left-nav .navbar-brand {
	float: none;
	display: block;
	width: 100%;
	margin: 0px;
}
.left-nav .navbar-brand {
    height: 50px;   
}
.left-nav > .container .navbar-brand {
	padding: 0px;
	margin: 0px;
}
.left-nav > .container .navbar-brand > .small-nav {
	display: block;
}
.left-nav > .container .navbar-brand > .small-nav > span.logo,	
.left-nav.open > .container .navbar-brand > .full-nav {
    display: block;
	font-weight: bold;
	padding: 15px 2px 15px 3px;
	font-size: 18pt;
}
.left-nav.open > .container .navbar-brand {
	width: 100%;
	padding: 15px 15px 60px;
	text-align: center;
}
.left-nav.navbar-inverse > .container .navbar-brand > .small-nav > span.logo {
	/*color: rgb(255, 255, 255);*/
}
.left-nav .navbar-nav > li {
	float: none;
}
.left-nav > .container .full-nav {
	display: none;
}
.left-nav.open > .container .full-nav {
	display: block;
}
.left-nav.open > .container .small-nav {
	display: none;
}
.left-nav .navbar-collapse {
	padding: 0px;
}
.left-nav .navbar-nav {
	float: none;
	margin: 0px;
}
.left-nav .navbar-nav > li > a {
	padding: 0px;
}
.left-nav .navbar-nav > li > a > span {
	display: block;
	font-size: 16pt;
	padding: 13px 15px 13px 12px;
}
.left-nav .tooltip,
.left-nav .tooltip .tooltip-inner {
	max-width: auto;
	white-space:nowrap;
}